@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: #34e89e;

    --background: 165 52% 4.48%;
    --foreground: 165 8% 97.8%;

    --muted: 165 40% 16.8%;
    --muted-foreground: 165 8% 55.6%;

    --popover: 165 49% 7.280000000000001%;
    --popover-foreground: 165 8% 97.8%;

    --card: 165 49% 7.280000000000001%;
    --card-foreground: 165 8% 97.8%;

    --border: 165 40% 16.8%;
    --input: 165 40% 16.8%;

    --primary: 165 80% 56%;
    --primary-foreground: 165 8% 5.6000000000000005%;

    --secondary: 165 40% 16.8%;
    --secondary-foreground: 165 8% 97.8%;

    --accent: 165 40% 16.8%;
    --accent-foreground: 165 8% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 165 8% 97.8%;

    --ring: 165 80% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
